@media (max-width: 3840px) {
  // ===================SOCIAL========================================

  .social-block {
    .social-block__container {
      max-width: 1185px;
      padding: 0 15px;
      margin: 0 auto;
      .social-block-wrapper {
        justify-content: space-between;

        .social-swiper {
          width: 540px;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  // ===================HEADER========================================

  .header__container {
    nav {
      .navbar {
        li {
          font-size: 16px;
        }
      }

      .header-buttons {
        #user-login {
          width: 110px;
        }
      }
    }
  }

  .header-block {
    .header-description {
      .description-title {
        font-size: 14px;
      }

      h1 {
        font-size: 52px;
      }

      p {
        font-size: 16px;
      }

      button {
        width: 142px;
        height: 58px;

        font-size: 14px;
      }

      .statistics {
        margin-top: 40px;

        div {
          span {
            font-size: 20px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .header-preview {
      .preview-picture {
        width: 100%;
      }
    }
  }

  // ===================SOCIAL========================================

  .social-block {
    .social-block__container {
      max-width: 100%;
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      .social-block-wrapper {
        justify-content: end;

        .social-swiper {
          width: 780px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  // ===================TASKS========================================

  .task-block {
    .task-block__container {
      .task-block-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 20px;
        }
      }

      .task-list-item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;

        .item-title {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }

        .task-button {
          margin-top: 24px;
          font-size: 16px;

          svg {
            display: inline-block;
            position: absolute;
            top: 11px;
            margin-left: 10px;
            stroke: $grayThin;
          }
        }
      }
    }
  }

  // ===================SOCIAL========================================

  .social-block {
    .social-block__container {
      padding-left: 15px;
      .social-block-wrapper {
        .social-description {
          .social-description-wrapper {
            padding-right: clamp(0rem, -6.25rem + 15.63vw, 3.75rem);
          }
        }

        .social-swiper {
          height: 452px;
          width: 800px;
          .swiper-wrapper {
            .social-slide {
              padding: 120px 24px 24px 24px;
              .social-slide-content {
                .name {
                  font-size: 20px;
                }
                .description {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  // ===================HEADER========================================

  .header__container {
    display: flex;
    flex-direction: column;

    nav {
      user-select: none;
      transition: all 0.5s ease;
      gap: 1px;

      .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -350px;
        right: 10%;
        width: 80%;
        background-color: rgba(51, 51, 51, 0.9);
        border-radius: 18px;
        padding: 24px 0;
        color: $bg-main;
        transition: all 0.5s ease;
      }

      .open {
        top: 86px;
      }

      .header-buttons {
        #user-login {
          // display: none;
          width: 90px;
          height: 44px;
          font-size: 12px;
          transition: all 0.5s ease;
          z-index: 10;
        }
        #menu-icon {
          display: block;
          height: 44px;
          width: 44px;
          transition: all 0.5s ease;
        }
      }
    }

    .header-description {
      max-width: 100%;
    }

    .header-preview {
      display: none;
      width: calc(160px / 1170px * 100%);
      .preview-picture {
        position: relative;
        z-index: -2;
      }
    }
  }

  // ===================TASKS========================================

  .task-block {
    .task-block__container {
      .task-block-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .task__title {
          font-size: 38px;
        }

        p {
          font-size: 16px;
        }
      }

      .tasks-list {
        flex-direction: column;
        align-items: center;
      }

      .task-list-item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;

        .item-title {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }

        .task-button {
          margin-top: 24px;
          font-size: 16px;

          svg {
            display: inline-block;
            position: absolute;
            top: 11px;
            margin-left: 10px;
            stroke: $grayThin;
          }
        }
      }
    }
  }

  // ===================SOCIAL========================================

  .social-block {
    .social-block__container {
      padding-left: 15px;
      .social-block-wrapper {
        .social-description {
          .social-description-wrapper {
            width: clamp(10.625rem, -7.187rem + 67.06vw, 25rem);
            .description__title {
              font-size: 30px;
            }
            p {
              margin-top: 26px;
              font-size: 14px;
            }
            .swiper-navigation {
              .swiper-pagination {
                margin-top: 12px;
                .swiper-pagination-current {
                  font-size: 38px;
                }
              }
              .swiper-buttons {
                margin-top: 12px;
              }
            }
          }
        }

        .social-swiper {
          height: 452px;
          .swiper-wrapper {
            .social-slide {
              padding: 120px 24px 24px 24px;
              .name {
                font-size: 20px;
              }
              .description {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  // ===================DISCOUT_MENU========================================

  .discount-menu {
    .discount-menu-list {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 425px) {
  [class*="__container"] {
    padding: 0 10px;
  }

  // ===================TASKS========================================

  .task-block {
    .task-block__container {
      .task-block-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 34px;

        .task__title {
          font-size: 30px;
        }

        p {
          font-size: 12px;
        }
      }

      .tasks-list {
        flex-direction: column;
        align-items: center;
      }

      .task-list-item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
        width: 263px;

        .item-title {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }

        .task-button {
          margin-top: 24px;
          font-size: 14px;
        }
      }
    }
  }
}

// ===================SOCIAL========================================

.social-block {
  .social-block__container {
    padding-left: 15px;
    .social-block-wrapper {
      .social-description {
        .social-description-wrapper {
          p {
            margin-top: 6px;
          }
          .swiper-navigation {
            .swiper-pagination {
              margin-top: 6px;
              .swiper-pagination-current {
                font-size: 38px;
              }
            }
            .swiper-buttons {
              margin-top: 6px;
              .swiper-button-prev {
                width: 44px;
                height: 44px;
              }
              .swiper-button-next {
                width: 44px;
                height: 44px;
              }
            }
          }
        }
      }

      .social-swiper {
        top: -40px;
        height: 464px;
        .swiper-wrapper {
          .social-slide {
            padding: 110px 24px 24px 24px;
            .social-slide-content {
              .avatar {
                top: -40px;
                height: 80px;
                width: 80px;
              }
              .name {
                font-size: 18px;
              }
              .age {
                font-size: 12px;
              }
              .description {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  // ===================SOCIAL========================================
  .social-block {
    .social-block__container {
      .social-block-wrapper {
        .social-swiper {
          top: -40px;
          height: 500px;
          .swiper-wrapper {
            .social-slide {
              padding: 70px 24px 24px 24px;
              .social-slide-content {
                .avatar {
                  top: -40px;
                  height: 80px;
                  width: 80px;
                }
                .name {
                  font-size: 18px;
                }
                .age {
                  font-size: 12px;
                }
                .description {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }
  }
}
