@import "reset.scss";
@import "list.scss";
@import "../../node_modules/swiper/swiper.scss";

[class*="__container"] {
  max-width: 1185px;
  padding: 0 15px;
  margin: 0 auto;
}

[class*="__title"] {
  font-size: 48px;
  font-weight: 600;
  line-height: 140%; /* 67.2px */
  letter-spacing: -0.96px;
  color: $grayMedium;

  span {
    color: $mainColor;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("@img/backround/Ellipse 42.png"),
    url("@img/backround/Group 8438.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
}

// ===================HEADER========================================

.header__container {
  padding-top: 30px;
  transition: all 0.2s ease;

  .header-logo {
    white-space: nowrap;

    span {
      color: $mainColor;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    transition: all 0.5s ease;
    cursor: pointer;

    .header-logo {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: $grayMedium;
      z-index: 10;

      span {
        font-weight: 900;
      }
    }

    .navbar {
      display: flex;
      color: $grayThin;
      gap: 56px;
      transition: all 0.5s ease;
      z-index: 20;

      li {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        user-select: none;
        transition: all 0.2s ease;

        &:hover {
          color: $mainColor;
          transition: all 0.2s ease;
        }
      }
    }

    .header-buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      #user-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 54px;
        padding: 16px 32px;
        border-radius: 100px;
        background-color: $mainColor;
        cursor: pointer;
        gap: 16px;
        user-select: none;
        transition: all 0.5s ease;

        font-family: Poppins;
        color: $bg-main;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 20.8px */

        &:hover {
          background-color: $maincolor-hover;
          transition: all 0.5s ease;
        }
      }
      #menu-icon {
        display: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-position-y: center;
        background-color: $mainColor;
        color: $bg-main;
        font-size: 16px;
        padding: 0;
        height: 54px;
        width: 54px;
        border-radius: 100px;
        z-index: 10;
        user-select: none;
        transition: all 0.5s ease;

        &:hover {
          background-color: $maincolor-hover;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.header-block {
  .header__container {
    padding-top: 64px;
    display: flex;
    gap: 16px;
  }

  .header-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: calc(590px / 1170px * 100%);
    gap: 30px;

    .description-title {
      display: flex;
      padding: 16px;
      justify-content: center;
      align-items: center;

      color: $mainColor;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 20.8px */

      border-radius: 100px;
      background: $bg-orange;
    }

    h1 {
      font-size: 72px;
      font-weight: 700;
      line-height: 130%; /* 93.6px */
      letter-spacing: -1.44px;
      color: $grayMedium;

      span {
        color: $mainColor;
      }
    }

    p {
      color: #828282;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 32px */
      letter-spacing: -0.4px;
    }

    button {
      display: flex;
      width: 192px;
      height: 68px;
      padding: 24px 32px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background: var(--fb-9333, #fb9333);

      font-size: 18px;
      font-weight: 600;
      line-height: 130%; /* 23.4px */
      color: $bg-main;
      transition: all 0.5s ease;

      &:hover {
        background-color: $maincolor-hover;
        transition: all 0.5s ease;
      }
    }

    .statistics {
      margin-top: 88px;
      display: flex;
      gap: 52px;

      div {
        span {
          font-size: 24px;
          font-weight: 600;
          line-height: 160%; /* 38.4px */

          color: $grayMedium;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 160%; /* 25.6px */
          color: $grayLite;
        }
      }
    }
  }

  .header-preview {
    width: calc(560px / 1170px * 100%);
    .preview-picture {
      position: relative;
      z-index: 5;
    }
  }
}

// ===================TASKS========================================

.task-block {
  margin: clamp(3.125rem, -0.446rem + 7.44vw, 6.25rem) 0;
  .task-block__container {
    .task-block-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .task__title {
        width: 586px;
      }

      p {
        width: 480px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 180%; /* 36px */
        letter-spacing: -0.4px;
        color: $grayLite;
      }
    }

    .tasks-list {
      display: flex;
      justify-content: space-between;
      margin-top: 64px;
      gap: 40px;
    }

    .task-list-item {
      padding: 30px;
      width: 363px;
      border-radius: 50px;
      border: 1px solid $bg-orange;
      background: $bg-main;
      transition: all 0.2s ease;

      .item-logo {
        img {
          width: clamp(6.25rem, 4.821rem + 2.98vw, 7.5rem);
          height: clamp(6.25rem, 4.821rem + 2.98vw, 7.5rem);
        }
      }

      .item-title {
        margin-top: 70px;
        color: $fontBlack;
        font-size: 24px;
        font-weight: 600;
        line-height: 180%; /* 43.2px */
        letter-spacing: -0.48px;
      }

      p {
        margin-top: 12px;
        color: $grayThin;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%; /* 28.8px */
        letter-spacing: -0.32px;
      }

      button {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 24px;
        color: $grayThin;
        white-space: nowrap;
        user-select: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%; /* 28.8px */
        letter-spacing: -0.32px;
        background-color: transparent;
        border-radius: 100px;
        padding: 10px 44px 10px 24px;
        transition: all 0.2s ease;
        stroke: $grayThin;

        i {
          font-size: 24px;
          padding-left: 10px;
        }

        &:hover {
          transition: all 0.2s ease;
          color: $bg-main;
          background-color: $mainColor;
          stroke: $bg-main;
        }
      }

      &:hover {
        box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
        transition: all 0.2s ease;
      }
    }
  }
}

// ===================SOCIAL========================================

.social-block {
  background-color: $bg-orange;
  overflow-x: hidden;

  .social-block-wrapper {
    margin: 180px 0 120px 0;
    display: flex;
    justify-content: center;
    gap: clamp(0rem, -2.355rem + 8.87vw, 5.625rem);

    .social-description {
      display: flex;
      .social-description-wrapper {
        width: 400px;

        .description__title {
          font-variant-numeric: lining-nums proportional-nums;
          color: $grayStrong;
        }
        p {
          margin-top: 30px;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%; /* 24px */
          color: $grayThin;
        }

        .swiper-navigation {
          .swiper-pagination {
            margin-top: 32px;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px; /* 137.5% */
            color: #ccc;

            .swiper-pagination-current {
              font-family: Raleway;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: 63.984px; /* 133.3% */
              color: $grayStrong;
            }
          }
          .swiper-buttons {
            margin-top: 24px;
            display: flex;
            gap: 24px;

            .swiper-button-prev {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 54px;
              height: 54px;
              font-size: 24px;
              border-radius: 10px;
              background: #ffc87a;
              color: $bg-main;
              transition: all 0.5s ease;
              &:hover {
                transition: all 0.5s ease;
                background-color: $mainColor;
              }
            }
            .swiper-button-next {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 54px;
              height: 54px;
              font-size: 24px;
              border-radius: 10px;
              background: #ffc87a;
              color: $bg-main;
              transition: all 0.5s ease;
              &:hover {
                transition: all 0.5s ease;
                background-color: $mainColor;
              }
            }
          }
        }
      }
    }
  }
}

// ===================SOCIAL-SWIPER========================================

.social-swiper {
  margin-left: 0;
  margin-right: 0;
  width: 872px;
  height: 482px;
  padding-top: 45px;
  right: 0;
  top: -45px;
  .social-wrapper {
    position: unset;
    .swiper-slide {
      padding: 150px 24px 32px 24px;
      background-color: $bg-main;
      border-radius: 8px;
      &:nth-child(1) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-1.jpg");
          }
        }
      }
      &:nth-child(2) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-2.jpg");
          }
        }
      }
      &:nth-child(3) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-3.jpg");
          }
        }
      }
      &:nth-child(4) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-4.jpg");
          }
        }
      }
      &:nth-child(5) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-5.jpg");
          }
        }
      }
      &:nth-child(6) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-6.jpg");
          }
        }
      }

      .social-slide-content {
        .avatar {
          position: absolute;
          top: -45px;
          max-width: 90px;
          max-height: 90px;
          height: 100%;
          width: 100%;
          border-radius: 8px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .name {
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 24px;
          font-weight: 500;
          line-height: 31.992px; /* 133.3% */
          color: $fontBlack;
        }
        .age {
          margin: 8px 0 18px 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 150%; /* 21px */
          color: $grayLite;
        }
        .description {
          font-size: 16px;
          font-weight: 400;
          line-height: 150%; /* 24px */
          letter-spacing: -0.32px;
          color: $grayThin;
        }
      }
    }
  }
}

// ===================DISCOUT_MENU========================================

.discount-menu {
  margin: clamp(1.563rem, -0.4rem + 7.39vw, 6.25rem) 0;
  .discount-menu-title {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    .discount-menu__title {
      width: 64%;
      text-align: center;
      font-size: clamp(1.563rem, 0.961rem + 2.27vw, 3rem);
    }
    p {
      text-align: center;
      font-family: Poppins;
      font-size: clamp(0.75rem, 0.541rem + 0.79vw, 1.25rem);
      font-style: normal;
      font-weight: 500;
      line-height: 180%; /* 36px */
      letter-spacing: -0.4px;
      color: $mainColor;
    }
  }

  .discount-menu-list {
    display: flex;
    justify-content: space-between;
    margin-top: clamp(2.5rem, 1.715rem + 2.96vw, 4.375rem);
    gap: clamp(1.25rem, -0.179rem + 2.98vw, 2.5rem);

    .list-item {
      display: flex;
      justify-content: end;
      flex-direction: column;
      width: clamp(11.375rem, 6.612rem + 17.93vw, 22.75rem);
      height: clamp(16.25rem, 9.446rem + 25.62vw, 32.5rem);
      border-radius: 50px;
      padding: 40px;
      background-size: cover;
      background-position: center;

      &:nth-child(1) {
        background-image: url("@img/discount-menu/959c090ec0d441b7deada136aa5a3c4b.jpg");
      }
      &:nth-child(2) {
        background-image: url("@img/discount-menu/484b3a19dff7d4f23978440464c89016.jpg");
      }
      &:nth-child(3) {
        background-image: url("@img/discount-menu/9e3938ce4fdeca724c0da86f6e151a69.jpg");
      }
      .item-name {
        font-size: clamp(0.75rem, 0.436rem + 1.18vw, 1.5rem);
        font-weight: 600;
        line-height: 130%; /* 31.2px */
        color: $bg-main;
      }
      .item-price {
        font-family: Poppins;
        font-size: clamp(1.25rem, 0.727rem + 1.97vw, 2.5rem);
        font-weight: 700;
        line-height: 130%; /* 52px */
        color: $bg-main;
      }
    }
  }
}

// ===================FORM-SUBSCRIBE========================================

.form-subscribe {
  margin: 200px 0 100px 0;
  .form-subscribe__container {
    .form-subscribe-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 48px 0 96px 0;
      border-radius: 50px;
      background-color: $bg-orange;
      background-image: url("@img/backround/Group 8441.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      gap: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);

      .form-subscribe-title {
        width: calc(655px / 1170px * 100%);
        text-align: center;

        .form-subscribe-subtitle {
          font-family: Poppins;
          font-size: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);
          font-weight: 500;
          line-height: 180%; /* 36px */
          letter-spacing: -0.4px;
          color: $mainColor;
        }
        .form-subscribe__title {
          font-size: clamp(1.563rem, 0.961rem + 2.27vw, 3rem);
          padding-bottom: 24px;
        }

        p {
          font-family: Poppins;
          font-size: clamp(0.75rem, 0.541rem + 0.79vw, 1.25rem);
          font-weight: 500;
          line-height: 160%; /* 25.6px */
          letter-spacing: -0.32px;
          color: $grayThin;
        }
      }

      .form {
        position: relative;
        .form-input {
          padding: clamp(1.25rem, 1.071rem + 0.89vw, 1.875rem) 116px
            clamp(1.25rem, 1.071rem + 0.89vw, 1.875rem)
            clamp(1.5rem, 1.357rem + 0.71vw, 2rem);
          width: clamp(17.5rem, 10.571rem + 34.64vw, 41.75rem);
          border-radius: 100px;

          color: $grayThin;
          font-family: Poppins;
          font-size: clamp(0.75rem, 0.643rem + 0.54vw, 1.125rem);
          font-weight: 400;
          line-height: 140%; /* 25.2px */
          letter-spacing: -0.36px;
          outline: none;
          opacity: 0.7;
        }
        .form-button {
          position: absolute;
          right: clamp(0.375rem, 0.304rem + 0.36vw, 0.625rem);
          top: clamp(0.375rem, 0.304rem + 0.36vw, 0.625rem);
          display: flex;
          width: clamp(6.25rem, 5rem + 6.25vw, 10.625rem);
          height: clamp(2.813rem, 2.473rem + 1.7vw, 4rem);
          padding: 10px 16px;
          justify-content: center;
          align-items: center;
          border-radius: 100px;

          color: $bg-main;
          font-family: Poppins;
          font-size: clamp(0.75rem, 0.643rem + 0.54vw, 1.125rem);
          font-weight: 500;
          line-height: 140%; /* 25.2px */
          letter-spacing: -0.36px;
          background-color: $mainColor;
          transition: all 0.5s ease;
          cursor: pointer;

          &:hover {
            background-color: $maincolor-hover;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

// ===================FORM-SUBSCRIBE========================================

.footer {
  .footer__container {
    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 50px 0;
      .footer-descrition {
        width: clamp(9.375rem, 6.607rem + 13.84vw, 13.25rem);
        .logo {
          white-space: nowrap;
          font-family: Roboto;
          font-size: 24px;
          font-weight: 700;
          color: #585858;

          span {
            color: $mainColor;
          }
        }

        .description {
          margin: 20px 0 68px 0;
          font-family: Poppins;
          font-size: clamp(0.75rem, 0.571rem + 0.89vw, 1rem);
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          color: $grayThin;
        }

        p {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%; /* 24px */
          color: $fontBlack;
        }
      }

      .footer-navigation {
        display: flex;
        // flex-grow: 1;
        flex-direction: column;
        gap: 25px;
        width: 72px;

        span {
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Poppins;
          font-size: clamp(0.75rem, 0.541rem + 0.79vw, 1.25rem);
          font-weight: 600;
          line-height: 22px; /* 137.5% */
          color: $mainColor;
        }

        .navbar {
          display: flex;
          flex-direction: column;
          gap: 25px;
          white-space: nowrap;

          li {
            font-family: Poppins;
            font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem);
            font-weight: 400;
            line-height: 150%; /* 24px */
            color: $grayThin;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
              transition: all 0.5s ease;
              color: $mainColor;
            }
          }
        }
      }

      .footer-contacts {
        display: flex;

        flex-direction: column;
        gap: 23px;
        width: clamp(10.75rem, 7.804rem + 14.73vw, 14.875rem);

        span {
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Poppins;
          font-size: clamp(0.75rem, 0.541rem + 0.79vw, 1.25rem);
          font-weight: 600;
          line-height: 22px; /* 137.5% */
          color: $mainColor;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 23px;

          li {
            font-family: Poppins;
            font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem);
            font-weight: 400;
            line-height: 150%; /* 24px */
            color: $grayThin;
            cursor: pointer;
            transition: all 0.5s ease;
            position: relative;
            padding-left: 40px;

            &:nth-child(1) {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 24px;
                height: 24px;
                background: url("@img/svg-icon/location_on.svg");
                background-repeat: no-repeat;
                background-size: contain;
              }
            }

            &:nth-child(2) {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 24px;
                height: 24px;
                background: url("@img/svg-icon//email.svg");
                background-repeat: no-repeat;
                background-size: contain;
              }
            }

            &:nth-child(3) {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 24px;
                height: 24px;
                background: url("@img/svg-icon/call.svg");
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
        }
      }

      .footer-social {
        width: 192px;

        .social {
          display: flex;
          gap: 32px;

          .twitter {
            display: block;
            width: 24px;
            height: 24px;
            background: url("@img/svg-icon/Vector.svg");
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
          }

          .linkedin {
            display: block;
            width: 24px;
            height: 24px;
            background: url("@img/svg-icon/linkedin (2) 1.svg");
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
          }

          .instagram {
            display: block;
            width: 24px;
            height: 24px;
            background: url("@img/svg-icon/instagram (2) 1.svg");
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
          }
        }

        p {
          margin-top: 20px;
          font-family: Poppins;
          font-size: clamp(0.75rem, 0.571rem + 0.89vw, 1rem);
          font-weight: 400;
          line-height: 150%; /* 24px */
          color: $grayMedium;
        }
      }
    }
  }
}

@import "media.scss";
