@import "reset.scss";
@import "list.scss";
@import "../../node_modules/swiper/swiper.scss";

[class*="__container"] {
  max-width: 1185px;
  padding: 0 15px;
  margin: 0 auto;
}

[class*="__title"] {
  font-size: 48px;
  font-weight: 600;
  line-height: 140%; /* 67.2px */
  letter-spacing: -0.96px;
  color: $grayMedium;

  span {
    color: $mainColor;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("@img/backround/Ellipse 42.png"),
    url("@img/backround/Group 8438.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.header__container {
  padding-top: 30px;
  transition: all 0.2s ease;

  .header-logo {
    white-space: nowrap;

    span {
      color: $mainColor;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    transition: all 0.5s ease;
    cursor: pointer;

    .header-logo {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: $grayMedium;
      z-index: 10;

      span {
        font-weight: 900;
      }
    }

    .navbar {
      display: flex;
      color: $grayThin;
      gap: 56px;
      transition: all 0.5s ease;
      z-index: 20;

      li {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        user-select: none;
        transition: all 0.2s ease;

        &:hover {
          color: $mainColor;
          transition: all 0.2s ease;
        }
      }
    }

    .header-buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      #user-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 54px;
        padding: 16px 32px;
        border-radius: 100px;
        background-color: $mainColor;
        cursor: pointer;
        gap: 16px;
        user-select: none;
        transition: all 0.5s ease;

        font-family: Poppins;
        color: $bg-main;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 20.8px */

        &:hover {
          background-color: $maincolor-hover;
          transition: all 0.5s ease;
        }
      }
      #menu-icon {
        display: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-position-y: center;
        background-color: $mainColor;
        color: $bg-main;
        font-size: 16px;
        padding: 0;
        height: 54px;
        width: 54px;
        border-radius: 100px;
        z-index: 10;
        user-select: none;
        transition: all 0.5s ease;

        &:hover {
          background-color: $maincolor-hover;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.header-block {
  .header__container {
    padding-top: 64px;
    display: flex;
    gap: 16px;
  }

  .header-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: calc(590px / 1170px * 100%);
    gap: 30px;

    .description-title {
      display: flex;
      padding: 16px;
      justify-content: center;
      align-items: center;

      color: $mainColor;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 20.8px */

      border-radius: 100px;
      background: $bg-orange;
    }

    h1 {
      font-size: 72px;
      font-weight: 700;
      line-height: 130%; /* 93.6px */
      letter-spacing: -1.44px;
      color: $grayMedium;

      span {
        color: $mainColor;
      }
    }

    p {
      color: #828282;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 32px */
      letter-spacing: -0.4px;
    }

    button {
      display: flex;
      width: 192px;
      height: 68px;
      padding: 24px 32px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background: var(--fb-9333, #fb9333);

      font-size: 18px;
      font-weight: 600;
      line-height: 130%; /* 23.4px */
      color: $bg-main;
      transition: all 0.5s ease;

      &:hover {
        background-color: $maincolor-hover;
        transition: all 0.5s ease;
      }
    }

    .statistics {
      margin-top: 88px;
      display: flex;
      gap: 52px;

      div {
        span {
          font-size: 24px;
          font-weight: 600;
          line-height: 160%; /* 38.4px */

          color: $grayMedium;
        }

        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 160%; /* 25.6px */
          color: $grayLite;
        }
      }
    }
  }

  .header-preview {
    width: calc(560px / 1170px * 100%);
    .preview-picture {
      position: relative;
      z-index: 5;
    }
  }
}

.task-block {
  margin: 100px 0;
  .task-block__container {
    .task-block-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 134px;
      .task__title {
        width: 586px;
      }

      p {
        width: 480px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 180%; /* 36px */
        letter-spacing: -0.4px;
        color: $grayLite;
      }
    }

    .tasks-list {
      display: flex;
      justify-content: space-between;
      margin-top: 64px;
      gap: 40px;
    }

    .task-list-item {
      padding: 30px;
      width: 363px;
      border-radius: 50px;
      border: 1px solid $bg-orange;
      background: $bg-main;
      transition: all 0.2s ease;

      .item-logo {
        height: 120px;
      }

      .item-title {
        margin-top: 70px;
        color: $fontBlack;
        font-size: 24px;
        font-weight: 600;
        line-height: 180%; /* 43.2px */
        letter-spacing: -0.48px;
      }

      p {
        margin-top: 12px;
        color: $grayThin;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%; /* 28.8px */
        letter-spacing: -0.32px;
      }

      button {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 24px;
        color: $grayThin;
        white-space: nowrap;
        user-select: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%; /* 28.8px */
        letter-spacing: -0.32px;
        background-color: transparent;
        border-radius: 100px;
        padding: 10px 44px 10px 24px;
        transition: all 0.2s ease;
        stroke: $grayThin;

        i {
          font-size: 24px;
          padding-left: 10px;
        }

        &:hover {
          transition: all 0.2s ease;
          color: $bg-main;
          background-color: $mainColor;
          stroke: $bg-main;
        }
      }

      &:hover {
        box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
        transition: all 0.2s ease;
      }
    }
  }
}

.social-block {
  background-color: $bg-orange;
  // padding-top: 50px;
  overflow-x: hidden;

  .social-block__container {
    .social-block-wrapper {
      margin: 120px 0;
      display: flex;
      gap: 88px;
      .social-description {
        width: 400px;
        .description__title {
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 48px;
          font-weight: 600;
          line-height: 63.984px; /* 133.3% */
          color: $grayStrong;
        }
        p {
          margin-top: 30px;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%; /* 24px */
          color: $grayThin;
        }

        .swiper-navigation {
          .swiper-pagination {
            margin-top: 32px;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px; /* 137.5% */
            color: #ccc;
            .swiper-pagination-current {
              font-family: Raleway;
              font-size: 48px;
              font-style: normal;
              font-weight: 700;
              line-height: 63.984px; /* 133.3% */
              color: $grayStrong;
            }
          }
          .swiper-buttons {
            margin-top: 24px;
            display: flex;
            gap: 24px;
            .swiper-button-prev {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 54px;
              height: 54px;
              font-size: 24px;
              border-radius: 10px;
              background-color: $mainColor;
              color: $bg-main;
            }
            .swiper-button-next {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 54px;
              height: 54px;
              font-size: 24px;
              border-radius: 10px;
              background-color: $mainColor;
              color: $bg-main;
            }
          }
        }
      }
    }
  }
}

.social-swipper {
  position: absolute;
  right: 0;
  top: 1862px;
  display: flex;
  width: 100%;
  max-width: 800px;
  height: auto;
  // overflow: visible;
  // overflow-x: hidden;

  .social-wrapper {
    top: 45px;
    box-sizing: content-box;

    .social-slide {
      display: flex;
    }

    .swiper-slide {
      background-color: $bg-main;
      border-radius: 8px;
      &:nth-child(1) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-1.jpg");
          }
        }
      }
      &:nth-child(2) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-2.jpg");
          }
        }
      }
      &:nth-child(3) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-3.jpg");
          }
        }
      }
      &:nth-child(4) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-4.jpg");
          }
        }
      }
      &:nth-child(5) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-5.jpg");
          }
        }
      }
      &:nth-child(6) {
        .social-slide-content {
          .avatar {
            background-image: url("@img/avatars/avatar-6.jpg");
          }
        }
      }

      .social-slide-content {
        position: relative;
        width: 270px;
        padding: 202px 24px 32px 24px;
        min-width: 0;

        .avatar {
          position: absolute;
          top: -45px;
          max-width: 90px;
          max-height: 90px;
          height: 100%;
          width: 100%;
          border-radius: 8px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .name {
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 24px;
          font-weight: 500;
          line-height: 31.992px; /* 133.3% */
          color: $fontBlack;
        }
        .age {
          font-size: 14px;
          font-weight: 500;
          line-height: 150%; /* 21px */
          color: $grayLite;
        }
        .description {
          font-size: 16px;
          font-weight: 400;
          line-height: 150%; /* 24px */
          letter-spacing: -0.32px;
          color: $grayThin;
        }
      }
    }
  }
}

@import "media.scss";
